/*index.html style*/
body,
html {
  background-color: antiquewhite;
  margin-bottom: 2.5rem;
}

iframe {
  margin-top: 15rem;
  padding: 0%;
}

#p-accueil {
  font-size: 32px;
  margin-left: 6rem;
  text-align: justify;
}

header {
  background-color: #1b1515;
  align-items: center;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 1.5rem;
  height: 4.5rem;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
}

header ul {
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  gap: 4.5rem;
  padding-right: 7.5rem;
  /*transition: transform 0.3s ease-out;*/
}

header li:hover {
  transform: scale(1.5);
  transition-duration: s;
  transition: transform 0.3s ease-out;
}

header ul a,
footer span span {
  text-decoration: none;
  color: white;
}

span p {
  font-size: x-large;
  font-weight: bolder;
  margin-left: 1.5rem;
}

p span,
#prenom {
  color: #00ffff;
}

footer {
  background-color: antiquewhite;
  align-items: center;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  padding-left: 1.5rem;
}

#copyright {
  padding-right: 7.5rem;
}

.currentLink {
  color: #00ffff;
}
/* Accueil.html style*/
div p {
  font-size: 22px;
}

.button {
  background-color: #00ffff;
  border-radius: 10px;
  border: 1px, solid, #00ffff;
  box-shadow: 3px, 3px, 3px, #00ffff;
  width: 15rem;
  height: 3rem;
  margin-left: 10rem;
  font-size: large;
  box-shadow: 5px 5px 10px black;
  transition: background-color 0.3s;
  transition: 0.3s;
  color: white;
}

.btn-react {
  transform: scale(1.05);
  background-color: blanchedalmond;
  border-radius: 10px;
  color: #00ffff;
  box-shadow: 10px 10px 15px #00ffff;
  border: 1px, solid, #00ffff;
  width: 15rem;
  height: 3rem;
  margin-left: 10rem;
  font-size: large;
}

.box-accueil {
  display: flex;
  justify-content: space-between;
}

img {
  border-radius: 100%;
  width: 20rem;
  margin-right: 4.5rem;
  margin-bottom: 5rem;
}
/*Propos */
#tof {
  margin-bottom: 25rem;
}

#p-propos {
  padding-left: 1.5rem;
}
