/*index.html style*/
body,
html {
  background-color: white;
  margin-bottom: 2.5rem;
}

iframe {
  margin-top: 15rem;
  padding: 0%;
}

#p-accueil {
  font-size: 32px;
  margin-left: 6rem;
  text-align: justify;
}

header {
  background-color: #1b1515;
  align-items: center;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 1.5rem;
  height: 4.5rem;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
}

header ul {
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  gap: 4.5rem;
  padding-right: 7.5rem;
  /*transition: transform 0.3s ease-out;*/
}

header li:hover {
  transform: scale(1.5);
  transition-duration: s;
  transition: transform 0.3s ease-out;
}

header ul a,
footer span span {
  text-decoration: none;
  color: white;
}

span p {
  font-size: x-large;
  font-weight: bolder;
  margin-left: 1.5rem;
}

p span,
#prenom {
  color: #00ffff;
}

footer {
  background-color: antiquewhite;
  align-items: center;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  padding-left: 1.5rem;
}

#copyright {
  padding-right: 7.5rem;
}

.currentLink {
  color: #00ffff;
}
/* Accueil.html style*/
div p {
  font-size: 22px;
}

[class^="button"] {
  background-color: #00ffff;
  border-radius: 10px;
  border: 1px, solid, #00ffff;
  box-shadow: 3px, 3px, 3px, #00ffff;
  width: 15rem;
  height: 3rem;
  margin-left: 10rem;
  font-size: large;
  box-shadow: 5px 5px 10px black;
  transition: background-color 0.3s;
  transition: 0.3s;
  color: white;
}

.btn-react {
  transform: scale(1.05);
  background-color: blanchedalmond;
  border-radius: 10px;
  color: #00ffff;
  box-shadow: 10px 10px 15px #00ffff;
  border: 1px, solid, #00ffff;
  width: 15rem;
  height: 3rem;
  margin-left: 10rem;
  font-size: large;
}

.box-accueil {
  display: flex;
  justify-content: space-between;
}

img {
  border-radius: 100%;
  width: 20rem;
  margin: 0;
  padding: 0;
  margin-right: 4.5rem;
  margin-bottom: 5rem;
}
/*Propos */
#tof {
  margin-bottom: 25rem;
}

#p-propos {
  padding-left: 1.5rem;
}

/*projet*/
.buttonx {
  background-color: white;
  transition: none;
  transform: none;
  border: 0px, solid, antiquewhite;
  box-shadow: none;
  width: 15rem;
  height: 3rem;
  margin-top: 0rem;
  align-items: center;
  margin-left: 32rem;
  font-size: 32px;
  font-weight: bold;
  color: #00ffff;
}

.box-projet {
  border-radius: 10px;
  border: 1px, solid, blanchedalmond;
  width: 300px;
  height: 450px;
  background-color: antiquewhite;
}

.box-projets {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0%;
}

.projet-desc {
  font-size: 16px;
  padding-left: 0.5rem;
}

.projet-img {
  border-radius: 10px;
  border: 0px, solid, blanchedalmond;
  width: 300px;
  height: 300px;
  margin: 0;
  padding: 0;
}

.projet-link {
  margin-left: 6.5rem;
  padding-top: 3%;
  text-align: center;
  text-decoration: underline #00ffff;
  background-color: #00ffff;
  border-radius: 10px;
  border: 1px, solid, #00ffff;
  width: 5rem;
  height: 1.5rem;
  font-size: large;
  box-shadow: 3px 3px 7px black;
  transition: background-color 0.3s;
  transition: 0.3s;
  color: white;
}

.projet-link:hover {
  transform: scale(1.05);
  background-color: blanchedalmond;
  text-decoration: underline antiquewhite;
  border-radius: 10px;
  color: #00ffff;
  box-shadow: 3px 3px 7px #00ffff;
  border: 1px, solid, #00ffff;
  width: 5rem;
  height: 1.5em;
  font-size: large;
}
