/*index.html style*/
body,
html {
  background-color: white;
  margin-bottom: 2.5rem;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

#iframe-container {
  width: 100%;
  height: 600px;
}

#iframe {
  margin-top: 10rem;
  padding: 0%;
  width: 100%;
  height: 100%;
  border: none;
}

#p-accueil {
  font-size: 32px;
  margin-left: 6rem;
  text-align: justify;
}

header {
  background-color: #1b1515;
  align-items: center;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 1.5rem;
  height: 4.5rem;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
}

header ul {
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  gap: 4.5rem;
  padding-right: 7.5rem;
  /*transition: transform 0.3s ease-out;*/
}

header li:hover {
  transform: scale(1.5);
  transition-duration: s;
  transition: transform 0.3s ease-out;
}

header ul a,
footer span span {
  text-decoration: none;
  color: white;
}

span p {
  font-size: x-large;
  font-weight: bolder;
  margin-left: 1.5rem;
}

p span,
#prenom {
  color: #00ffff;
}

footer {
  background-color: antiquewhite;
  align-items: center;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  padding-left: 1.5rem;
}

#copyright {
  padding-right: 7.5rem;
}

.currentLink {
  color: #00ffff;
}
/* Accueil.html style*/
div p {
  font-size: 22px;
}

[class^="button"] {
  background-color: #00ffff;
  border-radius: 10px;
  border: 1px, solid, #00ffff;
  box-shadow: 3px, 3px, 3px, #00ffff;
  width: 15rem;
  height: 3rem;
  margin-left: 10rem;
  font-size: large;
  box-shadow: 5px 5px 10px black;
  transition: background-color 0.3s;
  transition: 0.3s;
  color: white;
}

.btn-react {
  transform: scale(1.05);
  background-color: blanchedalmond;
  border-radius: 10px;
  color: #00ffff;
  box-shadow: 10px 10px 15px #00ffff;
  border: 1px, solid, #00ffff;
  width: 15rem;
  height: 3rem;
  margin-left: 10rem;
  font-size: large;
}

.box-accueil {
  display: flex;
  justify-content: space-between;
}

img {
  border-radius: 100%;
  width: 20rem;
  margin: 0;
  padding: 0;
  margin-right: 4.5rem;
  margin-bottom: 5rem;
}
/*Propos */
#tof {
  margin-bottom: 25rem;
}

#p-propos {
  padding-left: 1.5rem;
}

/*projet*/
.buttonx {
  background-color: white;
  transition: none;
  transform: none;
  border: 0px, solid, antiquewhite;
  box-shadow: none;
  width: 15rem;
  height: 3rem;
  margin-top: 0rem;
  align-items: center;
  margin-left: 32rem;
  font-size: 32px;
  font-weight: bold;
  color: #00ffff;
}

.box-projet {
  border-radius: 10px;
  border: 1px, solid, blanchedalmond;
  width: 300px;
  height: 450px;
  background-color: antiquewhite;
}

.box-projets {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0%;
}

.projet-desc {
  font-size: 16px;
  padding-left: 0.5rem;
}

.projet-img {
  border-radius: 10px;
  border: 0px, solid, blanchedalmond;
  width: 300px;
  height: 300px;
  margin: 0;
  padding: 0;
}

.projet-link {
  margin-left: 6.5rem;
  padding-top: 3%;
  text-align: center;
  text-decoration: underline #00ffff;
  background-color: #00ffff;
  border-radius: 10px;
  border: 1px, solid, #00ffff;
  width: 5rem;
  height: 1.5rem;
  font-size: large;
  box-shadow: 3px 3px 7px black;
  transition: background-color 0.3s;
  transition: 0.3s;
  color: white;
}

.projet-link:hover {
  transform: scale(1.05);
  background-color: blanchedalmond;
  text-decoration: underline antiquewhite;
  border-radius: 10px;
  color: #00ffff;
  box-shadow: 3px 3px 7px #00ffff;
  border: 1px, solid, #00ffff;
  width: 5rem;
  height: 1.5em;
  font-size: large;
}

/*Compétences.html style*/
/*skills */
.competence {
  margin-bottom: 20px;
}

/* Style du libellé (le texte) */
.libelle {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.barre-fond {
  width: 20rem;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 6px;
  overflow: hidden;
}

.barre-progression {
  height: 100%;
  background-color: #00ffff;
  border-radius: 6px;
  width: 0;
  transition: width 1s ease-out;
}

.global-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20%;
}

.skills p {
  font-weight: bold;
}

.soft1 {
  width: 72%;
  animation: barresoft1 2s;
}

@keyframes barresoft1 {
  0% {
    width: 0%;
  }
  100% {
    width: 72%;
  }
}

.soft2 {
  width: 82%;
  animation: barresoft2 2s;
}

@keyframes barresoft2 {
  0% {
    width: 0%;
  }
  100% {
    width: 82%;
  }
}

.soft3 {
  width: 85%;
  animation: barresoft3 2s;
}

@keyframes barresoft3 {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}

.soft4 {
  width: 70%;
  animation: barresoft4 2s;
}

@keyframes barresoft4 {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

.hard1 {
  width: 70%;
  animation: barrehard1 2s;
}

@keyframes barrehard1 {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

.hard2 {
  width: 40%;
  animation: barrehard2 2s;
}

@keyframes barrehard2 {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}
.hard3 {
  width: 15%;
  animation: barrehard3 2s;
}

@keyframes barrehard3 {
  0% {
    width: 0%;
  }
  100% {
    width: 15%;
  }
}

.hard4 {
  width: 60%;
  animation: barrehard4 2s;
}

@keyframes barrehard4 {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

.hard5 {
  width: 20%;
  animation: barrehard5 2s;
}

@keyframes barrehard5 {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}

.hard6 {
  width: 60%;
  animation: barrehard6 2s;
}

@keyframes barrehard6 {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

/*page contact*/

.ctoa {
  background-color: #1b1515;
  font-size: 32px;
  color: white;
  width: 700px;
  margin: 0;
  padding: 0;
  margin-left: 27rem;
  margin-top: 0;
}

.cta {
  font-size: 32px;
  color: #00ffff;
  margin: 0;
  padding: 0;
  margin-bottom: 30%;
}

.ctoa1 {
  background-color: #1b1515;
  color: white;
  font-size: 32px;
  text-align: center;
  margin-left: 7rem;
  margin-top: 0;
  margin-bottom: 0;
}

.box-contact {
  align-items: center;
  background-color: #1b1515;
  margin-left: 130px;

  padding: 0;
}

input {
  height: 2.5rem;
  border-radius: 10px;
  width: 25rem;
}

.nom-prenom {
  display: flex;
  justify-content: space-evenly;
}

.sujet {
  width: 54.2rem;
  margin-left: 4rem;
}

#textarea {
  height: 8.5rem;
  border-radius: 10px;
  width: 54.2rem;
  margin-left: 4rem;
}

label {
  color: white;
}

.contact-body {
  margin: 0;
  padding: 0;
  margin-bottom: 15rem;
  width: 1000px;
  background-color: #1b1515;
}

#sender {
  margin-left: 26rem;
  width: 10rem;
  height: 2.5rem;
  background-color: #00ffff;
  border-radius: 10px;
  border: 1px, solid, #00ffff;
  box-shadow: 3px, 3px, 3px, #00ffff;
  font-size: large;
  box-shadow: 5px 5px 10px black;
  transition: background-color 0.3s;
  transition: 0.3s;
  color: white;
}

#sender:hover {
  transform: scale(1.05);
  background-color: blanchedalmond;
  border-radius: 10px;
  color: #00ffff;
  border: 1px, solid, #00ffff;
  width: 10rem;
  height: 2.5rem;
  margin-left: 24rem;
  font-size: large;
}
